<source>
  @type tail
  format /(?<time>[^ ]* {1,2}[^ ]* [^ ]*) (?<host>[^ ]*) (?<ident>[a-zA-Z0-9_\/\.\-]*)(?:\[(?<pid>[0-9]+)\])?(?:[^\:]*\:)? (?:\[(?<severity>[A-Z]+)\])? *(?<message>.*)$/
  path /var/log/messages
  pos_file /var/lib/google-fluentd/pos/{{ sd_item.name }}.pos
  read_from_head true
  tag {{ sd_item.name }}
</source>

<match {{ sd_item.name }}>
  @type rewrite_tag_filter
  <rule>
    key ident
    pattern ^{{ sd_item.name }}-(\w+)
    tag {{ sd_item.name }}.$1
  </rule>
</match>
